.visual-effect-withering {
    animation-name: withering;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes withering {
    0% {
        opacity: 0.9;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.9;
    }
}
