@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'animations/activated';
@import 'animations/attacking';
@import 'animations/bobbing';
@import 'animations/broken-avatar';
@import 'animations/circle-explosion';
@import 'animations/cthulhulhulhu';
@import 'animations/death';
@import 'animations/foil';
@import 'animations/game-finished';
@import 'animations/glowing';
@import 'animations/great-devouring';
@import 'animations/ground-burst';
@import 'animations/healed';
@import 'animations/new-turn';
@import 'animations/projectile';
@import 'animations/ready';
@import 'animations/shake';
@import 'animations/spinning-moon';
@import 'animations/unnamed-one';
@import 'animations/emote';

@import 'visual-effects/ghostly';
@import 'visual-effects/scenery';
@import 'visual-effects/scorching';
@import 'visual-effects/withering';

@import 'main';
@import 'modals';
@import 'toasts';

@font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/JosefinSans-VariableFont_wght') format('ttf');
}

* {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

html {
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --color-primary: #6d6ab1;
    --color-primary-hover: #5c5a9c;
    --color-background: #100f10;
    --color-surface: #1c1c1c;

    --color-text: #d3d3d3;
    --color-border: #3a3a3a;

    --color-error: #b20909;
}

.text-bordered {
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.text-bordered-hard {
    text-shadow: -1px 0 rgba(black, .8), 0 1px rgba(black, .8), 1px 0 rgba(black, .8), 0 -1px rgba(black, .8);
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }
